body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

.container {
  text-align: center;
  margin-top: 40px;
}

.card {
  width: 300px;
  background: white;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  padding: 20px;
}

.profile-img {
  width: 150px;
  border-radius: 50%;
}

.username {
  font-size: 18px;
  font-weight: bold;
}

.name {
  font-size: 22px;
  font-weight: bold;
}

.desc {
  color: gray;
}

.school {
  margin-bottom: 10px;
}

.social img {
  width: 24px;
  margin: 5px;
  cursor: pointer;
}

.btn {
  display: block;
  margin-top: 15px;
  padding: 10px;
  background: black;
  color: white;
  text-decoration: none;
  border-radius: 8px;
}
